@charset "UTF-8";
/***格式化样式***/
* {
  margin: 0;
  padding: 0;
}

/***公用的样式***/
body {
  background: #ccc;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/material-design-icons/iconfont/MaterialIcons-Regular.eot");
  src: url("../lib/material-design-icons/iconfont/MaterialIcons-Regular.ttf");
  src: url("../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff");
  src: url("../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff2");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

ul {
  list-style: none;
}

/* 清除浮动影响  */
.clearFix:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  content: '';
}

.clearFix {
  zoom: 1;
}

#header {
  width: 100%;
  height: 50px;
  background: #333;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 1000;
}
#header #nav {
  /*         ul {
              margin: 0 20px;
              list-style: none;
              float: right;
              height: 50px;
              line-height: 50px;
              li {
                  display: inline-block;
                  margin-left: 10px;
                  width: 60px;
                  text-align: center;
                  color: #fff;
                  cursor: pointer;
                  &:hover {
                      background: #00a3cf;
                  }
              }
              .curli {
                  background: #00a3cf;
              }
          } */
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
#header #nav .mdl-button {
  color: #fff;
}

#wrap {
  margin: 100px;
}
#wrap #content {
  width: 70%;
  height: 100%;
  margin: 0 50px;
  float: left;
}
#wrap #content #home .tablist {
  margin-left: 20px;
  margin-bottom: -1px;
}
#wrap #content #home .tablist .tab {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #aaa;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
  float: left;
  cursor: pointer;
}
#wrap #content #home .tablist .tab:hover {
  background: #fff;
}
#wrap #content #home .tablist .curtab {
  background: #fff;
}
#wrap #content #home .boxWrap {
  width: 100%;
  padding: 20px;
  position: relative;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
#wrap #content #home .boxWrap p {
  margin-top: 10px;
  text-indent: 10px;
}
#wrap #content #home .boxWrap .addbtn {
  position: absolute;
  right: 10px;
  top: 25px;
}
#wrap #content #home .boxWrap .boxes {
  width: 100%;
  margin-left: 20px;
}
#wrap #content #home .boxWrap .more {
  padding-right: 50px;
  text-align: center;
}
#wrap #content #home .boxWrap .more a {
  color: #777;
}
#wrap #content #group .board {
  height: 200px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
#wrap #content #group .board p {
  margin-top: 10px;
  text-indent: 10px;
}
#wrap #content #group .picbook {
  width: 100%;
  padding-left: 50px;
}
#wrap #content .box {
  width: 21%;
  height: 250px;
  margin: 10px;
  display: inline-block;
  background: #111;
}
#wrap #sidebar {
  width: 20%;
  height: 100%;
  float: left;
  position: fixed;
  right: 5%;
  margin-top: 28px;
}
#wrap #sidebar .info {
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 20px;
}
#wrap .Tip {
  min-width: 100px;
  height: 30px;
  background: #00a3cf;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 20px;
}

#loginPage {
  width: 100%;
  height: 100%;
  background: #fff;
}
#loginPage .wrap {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -150px;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding-top: 15px;
}
#loginPage .wrap input {
  width: 200px;
  height: 22px;
  line-height: 22px;
  margin: 10px 45px;
}
#loginPage .wrap .name {
  margin-top: 30px;
}
#loginPage .wrap .btnwrap {
  width: 240px;
  margin: 10px 45px;
}
#loginPage .wrap .btnwrap button {
  float: left;
  width: 70px;
  margin: 0 15px;
}
#loginPage .Tip {
  min-width: 100px;
  height: 30px;
  background: #00a3cf;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 20px;
}
