<div id="home" ng-controller="homeCtrl">
    
    <nav>
        <ul class="tablist clearFix">
            <li class="tab" ng-class="{curtab : tabIndex==1}" ng-click="changeTab(1)">班级</li>
            <li class="tab" ng-class="{curtab : tabIndex==2}" ng-click="changeTab(2)">电影</li>
            <li class="tab" ng-class="{curtab : tabIndex==3}" ng-click="changeTab(3)">团购</li>
        </ul>
    </nav>
    <div class="activity boxWrap" ng-if="tabIndex==1">
        <p>班级活动</p>
        <div class="boxes">
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
        </div>
        <p class="more"><a href="#">查看更多>></a></p>
    </div>
    
    <div class="movie boxWrap" ng-if="tabIndex==2">
        <p>近期电影</p>
        <div class="boxes">
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
        </div>
        <p class="more"><a href="#">查看更多>></a></p>
    </div>

    <div class="group boxWrap" ng-if="tabIndex==3">
        <p>团购优惠</p>
        <div class="boxes">
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
            <div class="box"><img src="" alt=""><span></span></div>
        </div>
        <p class="more"><a href="#">查看更多>></a></p>
    </div>


</div>
