<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" href="/public/lib/material-design-lite/material.min.css">
    <link rel="stylesheet" href="/public/stylesheets/main.min.css">
</head>

<body ng-app="app" id="loginPage">
    <div ng-controller="loginCtrl">
        <div class="wrap" ng-hide="regPage">
            <input type="text" class="name" ng-model="userName" >
            <input type="password" class="password" ng-model="passwd" >
            <div class="btnwrap">
                <button class="login" ng-click="login()">登录</button>
                <button class="regis" ng-click="regPage=true">注册</button>
            </div>
        </div>
        <div class="wrap" ng-show="regPage">
            <input type="text" class="name" ng-model="reg.username" >
            <input type="password" class="password" ng-model="reg.passwd">
            <input type="password" class="password" ng-model="reg.repasswd" >
            <div class="btnwrap">
                <button class="regis" ng-click="reg.regis()">注册</button>
                <button class="regis" ng-click="regPage=false">返回</button>
            </div>
        </div>
        <div class="Tip" ng-if="globalTip.on">{{globalTip.tip}}</div>
    </div>
    <script src="/public/lib/angularjs/angular.min.js"></script>
    <script src="/public/lib/material-design-lite/material.min.js"></script>
    <script src="/public/javascripts/main.min.js"></script>
</body>

</html>
